.Tag {
    width: fit-content;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    font-weight: 600;
    /* padding: 4px 6px;
    border: 1px solid currentColor; */
}

.TagGroup {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2px;
}