.Tag {
    width: fit-content;
    font-size: 16px;
    display: flex;
    font-weight: 600;
    /* padding: 4px 6px;
    border: 1px solid currentColor; */
}

.TagGroup {
    width: fit-content;
    display: flex;
    gap: 8px;
}