.ViewContainer {
    
    .menu {
    width: 100%;
    padding: 32px 16px;
    display: flex;
    gap: 32px;
    font-size: 14px;
    cursor: default;

        .link {
            font-weight: 400;
            transition: all 320ms ease-in-out;

            &:hover:not(.current) {
                cursor: pointer;
                opacity: 0.6;
                transition: opacity 320ms ease-in-out;
            }

            &.current {
                font-weight: 600;
                transition: font-weight 320ms ease-in-out;
            }
        }
    }
}