.Article {
    max-width: 800px;
    width: 100%;
    padding: 16px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .title {
        padding-bottom: 32x;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    figure {
        width: 100%;
        img {
            width: 100%;
            object-fit: contain;
            height: auto;
        }
        figcaption {
            opacity: 0.6;
        }
    }
    
    .to_do {
        display: flex;
        gap: 8px;
        .checkmark {
            width: 14px;
            height: 14px;
            margin-top: 4px;
            background-color: rgba(var(--text-rgb), 0.2);
            border-radius: 2px;
            &.checked {
                background-color: var(--text);
                border-radius: 50%;
            }
        }
    }
    .quote {
        font-style: italic;
    }
}