@keyframes pulse {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.Home {
    width: 100%;
    flex: 1;
    position: relative;
    overflow: hidden;
    /* padding: 16px 0; */

    table {
        position: absolute;
        left: 8px;
        top: 8px;
    }

    .modules_wrapper {
        width: 100%;
        height: 100%;
        cursor: none;
        user-select: none;
        border: 0;
        outline: none;
    }
}