.Select {
    width: fit-content;
    font-family: inherit;
    font-size: 12px;
    .current_value {
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.select_options {
    width: fit-content;
    position: fixed;
    background-color: var(--bg);
    border: 1px solid var(--text);
    border-radius: 4px;
    font-size: 12px;
    overflow: hidden;
    .select_option {
        padding: 8px;
        cursor: default;
        &:not(:last-child) {
            border-bottom: inherit;
        }
        &:hover, &.selected {
            color: var(--bg);
            background-color: var(--primary);
        }
        &:not(.selected):hover {
            cursor: pointer;
        }
    }
}
