@keyframes pulse {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
}

body:has(.Home) {
    overflow: hidden;
}

.Alpaca {
    width: 100%;
    flex: 1;
    position: relative;
    overflow: hidden;
    /* padding: 16px 0; */
    display: flex;
    flex-direction: column;

    .static_module {
        width: fit-content;
        padding: 20px;
        position: absolute;
        border-right: 1px solid var(--text);
        border-bottom: 1px solid var(--text);
        background-color: var(--bg);
    }

    .cta {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        animation: pulse 2s ease-in-out 2 forwards;
    }

    .actions {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        color: var(--text);
        background-color: var(--bg);
        backdrop-filter: blur(4px);
        transition: all 300ms ease;

        .head {
            width: 100%;
            display: flex;
            //min-height: 54px;
            padding: 16px;
            border-top: 1px solid var(--text);
            .icon {
                width: 20px;
            }
        }

        .container {
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
            gap: 16px;
        }

        .legend {
            max-height: 100%;
            grid-row: 2 / span 1;
            grid-column: 1 / -1;
            font-size: 14px;
            padding: 0 16px 24px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            color: currentColor;
            overflow-y: auto;
            .row {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                &.current {
                    font-weight: 600;
                }
            }
            .data_title {
                font-weight: 600;
            }
        }


        &.open {
            .legend {
                overflow-y: auto;
            }
        }
    }

    table {
        /* position: absolute;
        left: 8px;
        top: 8px; */
        width: 100%;
        overflow: auto;
        display: block;
    }

    .modules_wrapper {
        flex-grow: 1;
        width: 100%;
        height: 100%;
        cursor: none;
        user-select: none;
        border: 0;
        outline: none;
    }
}