.ProjectStripe {
    overflow: hidden;
    height: 44px;
    cursor: pointer;
    width: 100%;
    display: flex;
    padding: 8px 16px 0px;
    text-decoration: none;
    color: inherit;
    transition: all 500ms ease-in-out;
    border-top: 1px solid currentColor;
    
    transition: height 500ms ease-in-out;

    &:last-child {
        border-bottom: 1px solid currentColor;
    }

    .details {
        flex-shrink: 0;
        margin-top: 4px;
        width: 120px;
        // opt. 1
        font-size: 16px;
        // opt. 2
        // font-size: 24px;
        .cat {
            font-weight: 500;
        }
    }

    .image {
        flex-shrink: 0;
        overflow: hidden;
        width: 0px;
        height: 300px;
        // transition: width 500ms ease-in-out;

        img, video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top center;
        }
    }

    .info {
        flex-shrink: 2;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .title {
            font-size: 60px;
            font-weight: 500;
            line-height: 100%;
        }
    }

    &:hover {
        height: 316px;
        transition: height 500ms ease-in-out;
        transition-delay: 0.2s;
        .image {
            // transition: width 500ms ease-in-out;
            width: 300px;
        }
        .info {
            padding-left: 16px;
        }
    }

    @media (hover: none) {
        
    }
    
    @media (max-width: 768px) {
        
    }
}