@keyframes openImage {
    0% {
        width: 0px;
    }
    100% {
        width: auto;
    }
}

$initialH: 120px;
$finalH: 250px;
$p: 16px;
$t: 200ms;

.ProjectStripe {
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    display: flex;
    gap: $p;
    padding: $p $p 0;
    text-decoration: none;
    color: inherit;
    transition: all $t ease-in-out;
    border-top: 1px solid currentColor;
    font-size: 14px;
    font-weight: 600;
    
    height: $initialH;
    transition: all $t ease-in-out;

    &.expanded {
        height: $finalH;
        transition-delay: $t;
        /* .image {
            height: 100%;
            transition: height 300ms ease-in-out;
        } */
        /* 
        .info {
            padding-left: 16px;
            transition: padding-left 0s normal $t;
            .title {
                color: var(--primary);
                transition: color $t ease-in-out $t;
            }
        } */
    }

    &.increase {
        height: 600px;
        .image {
            width: 600px;
            height: 600px - 32px;
        }
    }

    &:last-child {
        border-bottom: 1px solid currentColor;
    }

    .image {
        flex-shrink: 0;
        overflow: hidden;
        width: 300px;
        height: calc($finalH - ($p * 2));
        transition: all $t ease-in-out;

        img, video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top center;
        }
    }

    .info {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-weight: 500;

        .title {
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    .details {
        width: 100%;
    }

    .cats {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;
        .cat {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    @media (hover: none) {
        
    }
    
    @media (max-width: 768px) {
        
    }
}