.ImagesCarousel {

    overflow: hidden;
    position: relative;

    .image {
        width: 100%;
        max-height: 600px;
        img, video {
            width: 100%;
            object-fit: cover;
        }
    }

    .nav_item {
        pointer-events: none;
        position: absolute;
        z-index: 0;
        font-size: 12px;
        text-transform: uppercase;
        color: #FFFFFF;
        mix-blend-mode: difference;
        padding: 2px 4px;
        display: flex;
        transform: translate(-50%, -50%);
    }

}