@import '/src/assets/sass/lib/vars';

/* Animación de escritura */
@keyframes typing {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}    

.Header {  
    width: 100%;
    font-size: 14px;
    z-index: 1;
    position: sticky;
    top: 0;
    //background-color: rgba(var(--bg-rgb), 0.6);
    background-color: var(--bg);
    border-bottom: 1px solid var(--text);
    backdrop-filter: blur(4px);
    padding: 8px 16px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 32px;
    }

    a {
        display: block;
        white-space: nowrap;
        width: 100%;
        color: inherit;
        text-decoration: none;
    }

    .data {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0px;
        font-weight: 600;
        width: 100%;

        h2.name {
            flex-shrink: 0;
            font-size: inherit;
            text-transform: uppercase;
        }

        .metadata {
    
            font-weight: 600;
            padding-top: 2px;
            width: fit-content;
            color: var(--primary);
            overflow: hidden;
            white-space: nowrap;
            animation: typing 3s infinite alternate-reverse;
        }

    }

    nav.navbar {

        width: 100%;

        ul.menu {
            padding: 0;
            display: flex;
            gap: 32px;
            align-items: center;
            justify-content: center;
            list-style: none;
            li.item {
                text-transform: uppercase;
                transition: all 200ms ease-in-out;
                font-weight: 600;
                &:hover:not(.current) {
                    //border-bottom: 1px solid var(--primary);
                    cursor: pointer;
                    color: var(--primary);
                    opacity: 0.6;
                }
                &.current {
                    color: var(--primary);
                    pointer-events: none;
                }
            }
        }
    }

    .languages {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: fit-content;

        .language {
            
            cursor: pointer;

            color: var(--text);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 8px;

            &:not(:last-child) {
                border-right: 1px solid var(--text);
            }

            &.current {
                font-weight: 600;
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .theme {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 4px;
        flex-shrink: 0;
        transition: opacity 320ms ease-in-out;
        &:hover {
            opacity: 0.8;
            transition: opacity 320ms ease-in-out;
        }
        .picker {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            //border: 1px solid var(--text);
        }
    }

    /* Mobile Menu */
    @media (max-width:768px) {
        h2.name {
            flex-shrink: 1;
        }
        nav.navbar {
            display: none;
        }    
    }
    /* (end) Mobile Menu */
}

.MobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(var(--bg-rgb), 0.6);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        position: absolute;
        top: 16px;
        right: 16px;
        font-size: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    ul.menu {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        li.item a {
            text-decoration: none;
            color: currentColor;
        }
        li.item.current {
            pointer-events: none;
            opacity: 0.6;
        }
    }
}