@import '/src/assets/sass/lib/vars';

.Header {
    width: 100%;
    font-size: 14px;
    z-index: 1;
    position: sticky;
    background-color: rgba(var(--bg-rgb), 0.6);
    backdrop-filter: blur(4px);

    .container {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 32px;
        padding: 12px 16px;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    .data {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 16px;
        font-weight: 600;

        h2.name {
            flex-shrink: 0;
            font-size: inherit;
            text-transform: uppercase;
        }

        .metadata {
            color: var(--primary);
        }
    }

    nav.navbar {

        flex-shrink: 0;

        ul.menu {
            width: 100%;
            padding: 0;
            display: flex;
            gap: 16px;
            align-items: center;
            justify-content: start;
            list-style: none;
            li.item {
                font-weight: 600;
                cursor: pointer;
                &:hover, &.current {
                    text-decoration: underline;
                }
            }
        }
    }

    .languages {
        display: flex;
        gap: 8px;

        .language {
            
            cursor: pointer;

            color: var(--text);
            display: flex;
            align-items: center;
            justify-content: center;

            &.current {
                font-weight: 600;
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .theme {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 4px;
        flex-shrink: 0;
        transition: opacity 320ms ease-in-out;
        &:hover {
            opacity: 0.8;
            transition: opacity 320ms ease-in-out;
        }
        .picker {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 1px solid var(--text);
        }
    }

    /* Mobile Menu */
    @media (max-width:768px) {
        h2.name {
            flex-shrink: 1;
        }
        nav.navbar {
            display: none;
        }    
    }
    /* (end) Mobile Menu */
}