.Module {
    position: fixed;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'rolo deco' !important;
    &.stamp {
        /* cursor: none; */
        color: var(--primary);
        opacity: 0.8;
    }
    .content {
        transition: all 200ms ease;
    }
}