.ActionsMenu {
    position: fixed;
    bottom: 16px;
    left: 16px;

    display: flex;
    flex-direction: column;
    gap: 8px;
    
    .container {
        display: flex;
        flex-direction: column;
        color: var(--bg);
        background-color: var(--text);

        .action {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            font-size: 14px;
            //display: flex;
            &:not(:last-child) {
                border-bottom: 1px solid currentColor;
            }
            .label {
                padding: 8px ;
                width: 100%;
                border-right: 1px solid currentColor;
            }
            .key {
                padding: 8px;
                display: flex;
                justify-content: end;
            }
        }

    }
}