@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900');

@import "../fonts/aktivgrotesk/stylesheet.css";
@import "./lib/fontface";
@import "./lib/vars";
@import "./lib/themes";

* {
    margin: 0;
    box-sizing: border-box;
}

#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    display: flex;
    flex-grow: 1;
}

body {
    font-family: 'AktivGrotesk', 'Helvetica', sans-serif;
    font-size: 16px;
    color: var(--text);
    background-color: var(--bg);
}

.home {
    width: 100%;
    min-height: 100%;
    display: flex;
    padding: 16px;
    gap: 32px;

    .services {
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
    }

}