@import "../fonts/supria-sans/stylesheet.css";
@import "../fonts/navigo/stylesheet.css";

@import "./lib/fontface";
@import "./lib/vars";
@import "./lib/themes";

* {
    margin: 0;
    box-sizing: border-box;
}

#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    display: flex;
    flex-grow: 1;
}

body {
    font-family: 'supria-sans', 'Helvetica', sans-serif;
    font-size: 16px;
    color: var(--text);
    background-color: var(--bg);
}

h6 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text);
}

p {
    line-height: 150%;
}

ul {
    padding-left: 16px;
}

i {
    font-family: 'navigo';
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}