@import "../fonts/supria-sans/stylesheet.css";
@import "../fonts/navigo/stylesheet.css";

@import "./lib/fontface";
@import "./lib/vars";
@import "./lib/themes";

* {
    margin: 0;
    box-sizing: border-box;
}

#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main:not(.notion) {
    width: 100%;
    display: flex;
    flex-grow: 1;
    padding-top: 63px;
}

body {
    font-family: 'supria-sans', 'Helvetica', sans-serif;
    font-size: 16px;
    color: var(--text);
    background-color: var(--bg);
}

h6 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text);
}

p {
    line-height: 150%;
}

ul {
    padding-left: 16px;
}

ol {
    padding-left: 20px;
}

i {
    font-family: 'navigo';
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    appearance: none;
    padding: 0;
    color: inherit;
    font-family: 'supria-sans', 'Helvetica', sans-serif;
}

.select_options {
    width: fit-content;
    position: fixed;
    background-color: var(--bg);
    border: 1px solid var(--text);
    border-radius: 4px;
    .select_option {
        padding: 8px;
        &:not(:last-child) {
            border-bottom: inherit;
        }
        &:hover {
            cursor: pointer;
            color: var(--bg);
            background-color: var(--primary);
        }
    }
}

.notion {

    figure.notion-asset-wrapper {
        max-width: 100%;
        img {
            width: 100%;
        }
        > div {
            padding: 0 !important;
        }
    }
    details div {
        padding-left: 14px;
    }
    summary {
        font-weight: 500;
        padding-bottom: 8px;
        &:hover {
            cursor: pointer;
        }
    }
}

input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    width: 100%;
    cursor: pointer;
    outline: none;
    /*  slider progress trick  */
    overflow: hidden;
    border-radius: 16px;
  }
  
  /* Track: webkit browsers */
  input[type="range"]::-webkit-slider-runnable-track {
    height: 15px;
    background: rgba(var(--text-rgb), 0.2);
    border-radius: 16px;
  }
  
  /* Track: Mozilla Firefox */
  input[type="range"]::-moz-range-track {
    height: 15px;
    background: rgba(var(--text-rgb), 0.2);
    border-radius: 16px;
  }
  
  /* Thumb: webkit */
  input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    height: 15px;
    width: 15px;
    background-color: var(--bg);
    border-radius: 50%;
    border: 2px solid var(--text);
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px var(--text);
  }
  
  
  /* Thumb: Firefox */
  input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: var(--bg);
    border-radius: 50%;
    border: 1px solid var(--text);
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px var(--text);
  }
  
  
  